---

---
<div class="container mb-10 sm:mb-14 xl:mb-20 pt-32 sm:pt-40">
	<div class="max-w-6xl mx-auto">
		<div class="text-center">
			<h2 class="text-4xl sm:text-5xl font-black -tracking-[0.02em] pb-3">Blog</h2>
			<p class="font-medium text-lg sm:text-xl -tracking-[0.02em]">All the latest updates and resources from WindyBase</p>
		</div>
		<div class="space-y-8 lg:space-y-10 pt-14 xl:pt-20">
			<div class="group">
				<a href="/" class="p-4 sm:p-6 md:p-8 border border-[#C4D3DA] group-hover:border-brand-secondary rounded-2xl bg-[#f2f6f8] block group-hover:bg-white transition-colors duration-300 ease-linear">
					<p class="pb-4 -tracking-[0.02em] text-sm sm:text-base">May 2, 2024</p>
					<h4 class="font-black group-hover:text-brand-blue text-xl sm:text-2xl pb-3 sm:pb-4 -tracking-[0.02em]">Top 10 Tailwind CSS Resources for Rapid UI Development</h4>
					<p class="sm:text-[17px] pb-3 font-medium -tracking-[0.02em]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<span class="text-brand-blue flex gap-1 items-center font-semibold group-hover:text-brand-primary -tracking-[0.02em]">
						Read more
						<svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
							<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
						</svg>
					</span>
				</a>
			</div>
			<div class="group">
				<a href="/" class="p-4 sm:p-6 md:p-8 border border-[#C4D3DA] group-hover:border-brand-secondary rounded-2xl bg-[#f2f6f8] block group-hover:bg-[#f9fafb] transition-colors duration-300 ease-linear">
					<p class="pb-4 -tracking-[0.02em] text-sm sm:text-base">May 2, 2024</p>
					<h4 class="font-black group-hover:text-brand-blue text-xl sm:text-2xl pb-3 sm:pb-4 -tracking-[0.02em]">Top 10 Tailwind CSS Resources for Rapid UI Development</h4>
					<p class="sm:text-[17px] pb-3 font-medium -tracking-[0.02em]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<span class="text-brand-blue flex gap-1 items-center font-semibold group-hover:text-brand-primary -tracking-[0.02em]">
						Read more
						<svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
							<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
						</svg>
					</span>
				</a>

			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="bg-brand-primary px-5 sm:px-10 xl:px-12 py-10 sm:py-12 xl:py-16 rounded-2xl md:rounded-3xl">
		<div class="flex flex-col xl:flex-row justify-between gap-8 xl:gap-16 items-center">
			<div class="text-center xl:text-left">
				<h3 class="text-3xl sm:text-4xl font-black -tracking-[0.02em] text-white pb-1">Subscribe to our newsletter</h3>
				<p class="text-lg md:text-xl font-medium -tracking-[0.02em] text-white">Get notified when we add new templates, components, and more!</p>
			</div>
			<form class="relative w-full lg:w-4/5 xl:w-[45%]">
				<input type="email" placeholder="Email" class="shadow-[0px_4px_12px_rgba(0,53,81,0.12)] text-white bg-[#29556d] text-lg border-0 w-full rounded-xl pl-3 sm:pl-4 py-3 sm:py-4 pr-3 sm:pr-36 placeholder-white" >
				<button class=" mt-1 sm:mt-0 w-full sm:w-auto sm:absolute text-white font-bold -tracking-[0.02em] text-lg bg-brand-secondary py-2 px-5 rounded-lg sm:right-2 sm:top-1/2 sm:-translate-y-1/2">Subscribe</button>
			</form>
		</div>
	</div>
</div>