---

---
<div class="bg-gradient-to-b from-white from-30% to-[rgba(198,241,254,1)] pt-32 md:pt-40 lg:pt-48">
	<div class="container pb-12 sm:pb-14 md:pb-16 lg:pb-20">
		<div class="hidden xl:block relative">
			<a href="/" class="shadow-[0px_4px_12px_rgba(0,53,81,0.12)] group bg-white absolute top-[100px] left-0 p-3 rounded-2xl rotate-[6deg]">
				<svg class="text-brand-secondary group-hover:text-brand-blue h-8" viewBox="0 0 24 24" fill="currentColor"><path d="M12 18.1778L7.38083 16.9222L7.0517 13.3778H9.32156L9.48045 15.2222L12 15.8889L14.5195 15.2222L14.7806 12.3556H6.96091L6.32535 5.67778H17.6747L17.4477 7.88889H8.82219L9.02648 10.1444H17.2434L16.6192 16.9222L12 18.1778ZM3 2H21L19.377 20L12 22L4.62295 20L3 2ZM5.18844 4L6.48986 18.4339L12 19.9278L17.5101 18.4339L18.8116 4H5.18844Z"></path></svg>
			</a>
			<a href="/" class="shadow-[0px_4px_12px_rgba(0,53,81,0.12)] group bg-white absolute top-[140px] left-32 p-3 rounded-2xl rotate-[17deg]">
				<svg class="text-brand-secondary group-hover:text-brand-blue h-8" viewBox="0 0 24 24" fill="currentColor"><path d="M3.31677 3L12.001 18L20.6852 3H23.001L12.001 22L1.00098 3H3.31677ZM7.65887 3L12.001 10.5L16.3431 3H18.6589L12.001 14.5L5.34308 3H7.65887Z"></path></svg>
			</a>
			<a href="/" class="shadow-[0px_4px_12px_rgba(0,53,81,0.12)] group bg-white absolute top-[220px] left-8 p-3 rounded-2xl -rotate-[14deg]">
				<svg class="text-brand-secondary group-hover:text-brand-blue h-8" viewBox="0 0 24 24" fill="currentColor"><path d="M8.1267 6.21913C9.17785 5.37821 10.4989 5 12.0014 5C13.41 5 14.4863 5.33092 15.3593 5.83363C16.0983 6.25922 16.7127 6.84126 17.3072 7.44492C17.953 8.10062 18.3034 8.41984 18.7437 8.52979C19.217 8.64811 19.617 8.61249 19.9825 8.45585C20.3621 8.29317 20.7745 7.96918 21.2014 7.4L22.9715 8.24254C22.6005 9.72673 21.9241 10.9425 20.8761 11.7809C19.8249 12.6218 18.5038 13 17.0014 13C15.5931 13 14.517 12.669 13.6441 12.1664C12.8103 11.6862 12.2012 11.068 11.7232 10.583C11.0611 9.9112 10.7056 9.5817 10.2591 9.47021C9.78583 9.35189 9.3858 9.38751 9.02031 9.54415C8.64071 9.70683 8.22828 10.0308 7.80139 10.6L6.03125 9.75746C6.4023 8.27328 7.07869 7.05754 8.1267 6.21913ZM12.0014 7C11.1728 7 10.5057 7.14609 9.96802 7.40781C11.2881 7.49046 12.1492 8.30299 13.0247 9.12911C13.5289 9.60492 14.0379 10.0852 14.6422 10.4332C15.2012 10.7551 15.9313 11 17.0014 11C17.8299 11 18.497 10.8539 19.0347 10.5922C17.7147 10.5095 16.8538 9.69708 15.9786 8.87101C15.4744 8.39515 14.9655 7.91478 14.3612 7.56679C13.8022 7.24491 13.0719 7 12.0014 7ZM3.1267 12.2191C4.17785 11.3782 5.49894 11 7.00139 11C8.41001 11 9.48634 11.3309 10.3593 11.8336C11.0983 12.2592 11.7127 12.8413 12.3072 13.4449C12.953 14.1006 13.3034 14.4198 13.7437 14.5298C14.217 14.6481 14.617 14.6125 14.9825 14.4559C15.3621 14.2932 15.7745 13.9692 16.2014 13.4L17.9715 14.2425C17.6005 15.7267 16.9241 16.9425 15.8761 17.7809C14.8249 18.6218 13.5038 19 12.0014 19C10.5931 19 9.51701 18.669 8.64412 18.1664C7.81033 17.6862 7.20115 17.068 6.72319 16.583C6.06109 15.9112 5.70557 15.5817 5.25911 15.4702C4.78583 15.3519 4.3858 15.3875 4.02031 15.5441C3.64071 15.7068 3.22828 16.0308 2.80139 16.6L1.03125 15.7575C1.4023 14.2733 2.07869 13.0575 3.1267 12.2191ZM7.00136 13C6.17284 13 5.50571 13.1461 4.96802 13.4078C6.28809 13.4905 7.14918 14.303 8.02466 15.1291L8.02467 15.1291C8.52891 15.6049 9.03793 16.0852 9.64217 16.4332C10.2012 16.7551 10.9313 17 12.0014 17C12.8299 17 13.497 16.8539 14.0347 16.5922C12.7147 16.5095 11.8538 15.6971 10.9786 14.871C10.4744 14.3952 9.96546 13.9148 9.36117 13.5668C8.80225 13.2449 8.0719 13 7.00136 13Z"></path></svg>
			</a>
		</div>
		<div class="hidden xl:block relative">
			<a href="/" class="shadow-[0px_4px_12px_rgba(0,53,81,0.12)] group bg-white absolute top-[100px] right-0 p-3 rounded-2xl -rotate-[6deg]">
				<svg class="text-brand-secondary group-hover:text-brand-blue h-8" viewBox="0 0 24 24" fill="currentColor"><path d="M12 18.1778L7.38083 16.9222L7.0517 13.3778H9.32156L9.48045 15.2222L12 15.8889L14.5195 15.2222L14.7806 12.3556H6.96091L6.32535 5.67778H17.6747L17.4477 7.88889H8.82219L9.02648 10.1444H17.2434L16.6192 16.9222L12 18.1778ZM3 2H21L19.377 20L12 22L4.62295 20L3 2ZM5.18844 4L6.48986 18.4339L12 19.9278L17.5101 18.4339L18.8116 4H5.18844Z"></path></svg>
			</a>
			<a href="/" class="shadow-[0px_4px_12px_rgba(0,53,81,0.12)] group bg-white absolute top-[140px] right-32 p-3 rounded-2xl -rotate-[17deg]">
				<svg class="text-brand-secondary group-hover:text-brand-blue h-8" viewBox="0 0 24 24" fill="currentColor"><path d="M3.31677 3L12.001 18L20.6852 3H23.001L12.001 22L1.00098 3H3.31677ZM7.65887 3L12.001 10.5L16.3431 3H18.6589L12.001 14.5L5.34308 3H7.65887Z"></path></svg>
			</a>
			<a href="/" class="shadow-[0px_4px_12px_rgba(0,53,81,0.12)] group bg-white absolute top-[220px] right-8 p-3 rounded-2xl rotate-[14deg]">
				<svg class="text-brand-secondary group-hover:text-brand-blue h-8" viewBox="0 0 24 24" fill="currentColor"><path d="M8.1267 6.21913C9.17785 5.37821 10.4989 5 12.0014 5C13.41 5 14.4863 5.33092 15.3593 5.83363C16.0983 6.25922 16.7127 6.84126 17.3072 7.44492C17.953 8.10062 18.3034 8.41984 18.7437 8.52979C19.217 8.64811 19.617 8.61249 19.9825 8.45585C20.3621 8.29317 20.7745 7.96918 21.2014 7.4L22.9715 8.24254C22.6005 9.72673 21.9241 10.9425 20.8761 11.7809C19.8249 12.6218 18.5038 13 17.0014 13C15.5931 13 14.517 12.669 13.6441 12.1664C12.8103 11.6862 12.2012 11.068 11.7232 10.583C11.0611 9.9112 10.7056 9.5817 10.2591 9.47021C9.78583 9.35189 9.3858 9.38751 9.02031 9.54415C8.64071 9.70683 8.22828 10.0308 7.80139 10.6L6.03125 9.75746C6.4023 8.27328 7.07869 7.05754 8.1267 6.21913ZM12.0014 7C11.1728 7 10.5057 7.14609 9.96802 7.40781C11.2881 7.49046 12.1492 8.30299 13.0247 9.12911C13.5289 9.60492 14.0379 10.0852 14.6422 10.4332C15.2012 10.7551 15.9313 11 17.0014 11C17.8299 11 18.497 10.8539 19.0347 10.5922C17.7147 10.5095 16.8538 9.69708 15.9786 8.87101C15.4744 8.39515 14.9655 7.91478 14.3612 7.56679C13.8022 7.24491 13.0719 7 12.0014 7ZM3.1267 12.2191C4.17785 11.3782 5.49894 11 7.00139 11C8.41001 11 9.48634 11.3309 10.3593 11.8336C11.0983 12.2592 11.7127 12.8413 12.3072 13.4449C12.953 14.1006 13.3034 14.4198 13.7437 14.5298C14.217 14.6481 14.617 14.6125 14.9825 14.4559C15.3621 14.2932 15.7745 13.9692 16.2014 13.4L17.9715 14.2425C17.6005 15.7267 16.9241 16.9425 15.8761 17.7809C14.8249 18.6218 13.5038 19 12.0014 19C10.5931 19 9.51701 18.669 8.64412 18.1664C7.81033 17.6862 7.20115 17.068 6.72319 16.583C6.06109 15.9112 5.70557 15.5817 5.25911 15.4702C4.78583 15.3519 4.3858 15.3875 4.02031 15.5441C3.64071 15.7068 3.22828 16.0308 2.80139 16.6L1.03125 15.7575C1.4023 14.2733 2.07869 13.0575 3.1267 12.2191ZM7.00136 13C6.17284 13 5.50571 13.1461 4.96802 13.4078C6.28809 13.4905 7.14918 14.303 8.02466 15.1291L8.02467 15.1291C8.52891 15.6049 9.03793 16.0852 9.64217 16.4332C10.2012 16.7551 10.9313 17 12.0014 17C12.8299 17 13.497 16.8539 14.0347 16.5922C12.7147 16.5095 11.8538 15.6971 10.9786 14.871C10.4744 14.3952 9.96546 13.9148 9.36117 13.5668C8.80225 13.2449 8.0719 13 7.00136 13Z"></path></svg>
			</a>
		</div>
		<div class="text-center xl:w-3/4 mx-auto">
			<h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl -tracking-[0.02em] pb-4 sm:pb-6 md:pb-8 font-black">Discover awesome Tailwind CSS templates and components.</h1>
			<h2 class="pb-6 sm:pb-8 md:pb-10 lg:pb-12 font-medium text-lg sm:text-xl lg:text-2xl -tracking-[0.02em] md:px-16">Explore weekly curated Free & Premium Tailwind templates and tools to help you build modern websites and apps fast.</h2>
			<form class="relative md:w-3/4 lg:w-2/3 mx-auto rounded-xl mb-8 lg:mb-10">
				<input type="email" class="shadow-[0px_4px_12px_rgba(0,53,81,0.12)] bg-white text-lg border-0 w-full rounded-xl pl-3 sm:pl-4 py-3 sm:py-4 pr-3 sm:pr-36 placeholder-white" >
				<button class=" mt-1 sm:mt-0 w-full sm:w-auto sm:absolute text-white font-bold -tracking-[0.02em] text-lg bg-brand-secondary py-2 px-5 rounded-lg sm:right-2 sm:top-1/2 sm:-translate-y-1/2 hover:bg-brand-primary transition-colors duration-300 ease-linear">Search</button>
			</form>
			<div class="flex flex-col sm:flex-row items-center gap-3 justify-center">
				<div class="flex">
					<img src="/img/developer.png" class="rounded-full h-12 border-2 border-white" alt="">
					<img src="/img/developer.png" class="rounded-full h-12 border-2 border-white relative -ml-3" alt="">
					<img src="/img/developer.png" class="rounded-full h-12 border-2 border-white relative -ml-3" alt="">
					<img src="/img/developer.png" class="rounded-full h-12 border-2 border-white relative -ml-3" alt="">
					<img src="/img/developer.png" class="rounded-full h-12 border-2 border-white relative -ml-3" alt="">
					<img src="/img/developer.png" class="rounded-full h-12 border-2 border-white relative -ml-3" alt="">
					<img src="/img/developer.png" class="rounded-full h-12 border-2 border-white relative -ml-3" alt="">
				</div>
				<div>
					<div class="flex justify-center sm:justify-start">
						<svg viewBox="0 0 24 24" fill="currentColor" class="size-4 text-[#F7D044]">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						</svg>
						<svg viewBox="0 0 24 24" fill="currentColor" class="size-4 text-[#F7D044]">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						</svg>
						<svg viewBox="0 0 24 24" fill="currentColor" class="size-4 text-[#F7D044]">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						</svg>
						<svg viewBox="0 0 24 24" fill="currentColor" class="size-4 text-[#F7D044]">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						</svg>
						<svg viewBox="0 0 24 24" fill="currentColor" class="size-4 text-[#F7D044]">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
						</svg>
					</div>
					<p class="font-semibold text-sm">Loved by developers everywhere</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="pt-16 pb-16 md:pb-24">
		<div class="pb-16">
			<div class="flex items-center gap-8 justify-between pb-8 lg:pb-10">
				<h4 class="text-2xl sm:text-3xl font-black -tracking-[0.02em]">Popular this week</h4>
				<a href="/" class="transition-colors duration-200 ease-linear text-brand-blue hover:text-brand-primary font-bold sm:text-lg -tracking-[0.02em] flex gap-2 items-center">
					See more
					<svg class="h-7 sm:h-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
					</svg>
				</a>
			</div>
			<div class="grid sm:grid-cols-2 xl:grid-cols-4 gap-8">
				<div>
					<div class="relative shadow-[0px_4px_12px_rgba(0,53,81,0.12)] rounded-lg">
						<img src="/img/cover-image-01.png" class="rounded-lg" alt="">
						<img src="/img/badge-free.png" class="absolute top-3 right-3 rounded-md h-5" alt="">
					</div>
					<div class="flex gap-8 justify-between pt-4">
						<div>
							<h3 class="text-xl font-black -tracking-[0.02em]">Preline UI</h3>
							<div class="flex gap-1.5 pb-4">
								<p class="font-medium text-sm -tracking-[0.02em]">By Cruip in</p>
								<a href="/" class="underline font-medium text-sm -tracking-[0.02em] hover:text-brand-blue">UI Kits</a>
							</div>
						</div>
						<h2 class="text-2xl font-black">$10</h2>
					</div>
					<div class="flex gap-4 justify-between">
						<a href="/" class="border border-brand-secondary/30 hover:border-brand-primary hover:text-brand-primary rounded-md font-semibold text-sm text-brand-blue px-3 py-1 transition-colors duration-200 ease-linear">
							Live Preview
						</a>
						<a href="/" class="border border-brand-primary/30 hover:border-brand-blue hover:bg-brand-blue hover:text-white  rounded-md p-1.5 transition-colors duration-200 ease-linear">
							<svg class="h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
							</svg>
						</a>
					</div>
				</div>
				<div>
					<div class="relative shadow-[0px_4px_12px_rgba(0,53,81,0.12)] rounded-lg">
						<img src="/img/cover-image-02.png" class="rounded-lg" alt="">
						<img src="/img/badge-paid.png" class="absolute top-3 right-3 rounded-md h-5" alt="">
					</div>
					<div class="flex gap-8 justify-between pt-4">
						<div>
							<h3 class="text-xl font-black -tracking-[0.02em]">Preline UI</h3>
							<div class="flex gap-1.5 pb-4">
								<p class="font-medium text-sm -tracking-[0.02em]">By Cruip in</p>
								<a href="/" class="underline font-medium text-sm -tracking-[0.02em] hover:text-brand-blue">Components</a>
							</div>
						</div>
						<h2 class="text-2xl font-black">$89</h2>
					</div>
					<div class="flex gap-4 justify-between">
						<a href="/" class="border border-brand-secondary/30 hover:border-brand-primary hover:text-brand-primary rounded-md font-semibold text-sm text-brand-blue px-3 py-1 transition-colors duration-200 ease-linear">
							Live Preview
						</a>
						<a href="/" class="border border-brand-primary/30 hover:border-brand-blue hover:bg-brand-blue hover:text-white  rounded-md p-1.5 transition-colors duration-200 ease-linear">
							<svg class="h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
							</svg>
						</a>
					</div>
				</div>
				<div>
					<div class="relative shadow-[0px_4px_12px_rgba(0,53,81,0.12)] rounded-lg">
						<img src="/img/cover-image-01.png" class="rounded-lg" alt="">
						<img src="/img/badge-free.png" class="absolute top-3 right-3 rounded-md h-5" alt="">
					</div>
					<div class="flex gap-8 justify-between pt-4">
						<div>
							<h3 class="text-xl font-black -tracking-[0.02em]">Preline UI</h3>
							<div class="flex gap-1.5 pb-4">
								<p class="font-medium text-sm -tracking-[0.02em]">By Cruip in</p>
								<a href="/" class="underline font-medium text-sm -tracking-[0.02em] hover:text-brand-blue">UI Kits</a>
							</div>
						</div>
						<h2 class="text-2xl font-black">$10</h2>
					</div>
					<div class="flex gap-4 justify-between">
						<a href="/" class="border border-brand-secondary/30 hover:border-brand-primary hover:text-brand-primary rounded-md font-semibold text-sm text-brand-blue px-3 py-1 transition-colors duration-200 ease-linear">
							Live Preview
						</a>
						<a href="/" class="border border-brand-primary/30 hover:border-brand-blue hover:bg-brand-blue hover:text-white  rounded-md p-1.5 transition-colors duration-200 ease-linear">
							<svg class="h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
							</svg>
						</a>
					</div>
				</div>
				<div>
					<div class="relative shadow-[0px_4px_12px_rgba(0,53,81,0.12)] rounded-lg">
						<img src="/img/cover-image-02.png" class="rounded-lg" alt="">
						<img src="/img/badge-paid.png" class="absolute top-3 right-3 rounded-md h-5" alt="">
					</div>
					<div class="flex gap-8 justify-between pt-4">
						<div>
							<h3 class="text-xl font-black -tracking-[0.02em]">Preline UI</h3>
							<div class="flex gap-1.5 pb-4">
								<p class="font-medium text-sm -tracking-[0.02em]">By Cruip in</p>
								<a href="/" class="underline font-medium text-sm -tracking-[0.02em] hover:text-brand-blue">Components</a>
							</div>
						</div>
						<h2 class="text-2xl font-black">$89</h2>
					</div>
					<div class="flex gap-4 justify-between">
						<a href="/" class="border border-brand-secondary/30 hover:border-brand-primary hover:text-brand-primary rounded-md font-semibold text-sm text-brand-blue px-3 py-1 transition-colors duration-200 ease-linear">
							Live Preview
						</a>
						<a href="/" class="border border-brand-primary/30 hover:border-brand-blue hover:bg-brand-blue hover:text-white  rounded-md p-1.5 transition-colors duration-200 ease-linear">
							<svg class="h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="flex items-center gap-8 justify-between pb-8 lg:pb-10">
				<h4 class="text-2xl sm:text-3xl font-black -tracking-[0.02em]">Blog Templates</h4>
				<a href="/" class="transition-colors duration-200 ease-linear text-brand-blue hover:text-brand-primary font-bold sm:text-lg -tracking-[0.02em] flex gap-2 items-center">
					See more
					<svg class="h-7 sm:h-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
					</svg>
				</a>
			</div>
			<div class="grid sm:grid-cols-2 xl:grid-cols-4 gap-8">
				<div>
					<div class="relative shadow-[0px_4px_12px_rgba(0,53,81,0.12)] rounded-lg">
						<img src="/img/cover-image-01.png" class="rounded-lg" alt="">
						<img src="/img/badge-free.png" class="absolute top-3 right-3 rounded-md h-5" alt="">
					</div>
					<div class="flex gap-8 justify-between pt-4">
						<div>
							<h3 class="text-xl font-black -tracking-[0.02em]">Preline UI</h3>
							<div class="flex gap-1.5 pb-4">
								<p class="font-medium text-sm -tracking-[0.02em]">By Cruip in</p>
								<a href="/" class="underline font-medium text-sm -tracking-[0.02em] hover:text-brand-blue">UI Kits</a>
							</div>
						</div>
						<h2 class="text-2xl font-black">$10</h2>
					</div>
					<div class="flex gap-4 justify-between">
						<a href="/" class="border border-brand-secondary/30 hover:border-brand-primary hover:text-brand-primary rounded-md font-semibold text-sm text-brand-blue px-3 py-1 transition-colors duration-200 ease-linear">
							Live Preview
						</a>
						<a href="/" class="border border-brand-primary/30 hover:border-brand-blue hover:bg-brand-blue hover:text-white  rounded-md p-1.5 transition-colors duration-200 ease-linear">
							<svg class="h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
							</svg>
						</a>
					</div>
				</div>
				<div>
					<div class="relative shadow-[0px_4px_12px_rgba(0,53,81,0.12)] rounded-lg">
						<img src="/img/cover-image-02.png" class="rounded-lg" alt="">
						<img src="/img/badge-paid.png" class="absolute top-3 right-3 rounded-md h-5" alt="">
					</div>
					<div class="flex gap-8 justify-between pt-4">
						<div>
							<h3 class="text-xl font-black -tracking-[0.02em]">Preline UI</h3>
							<div class="flex gap-1.5 pb-4">
								<p class="font-medium text-sm -tracking-[0.02em]">By Cruip in</p>
								<a href="/" class="underline font-medium text-sm -tracking-[0.02em] hover:text-brand-blue">Components</a>
							</div>
						</div>
						<h2 class="text-2xl font-black">$89</h2>
					</div>
					<div class="flex gap-4 justify-between">
						<a href="/" class="border border-brand-secondary/30 hover:border-brand-primary hover:text-brand-primary rounded-md font-semibold text-sm text-brand-blue px-3 py-1 transition-colors duration-200 ease-linear">
							Live Preview
						</a>
						<a href="/" class="border border-brand-primary/30 hover:border-brand-blue hover:bg-brand-blue hover:text-white  rounded-md p-1.5 transition-colors duration-200 ease-linear">
							<svg class="h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
							</svg>
						</a>
					</div>
				</div>
				<div>
					<div class="relative shadow-[0px_4px_12px_rgba(0,53,81,0.12)] rounded-lg">
						<img src="/img/cover-image-01.png" class="rounded-lg" alt="">
						<img src="/img/badge-free.png" class="absolute top-3 right-3 rounded-md h-5" alt="">
					</div>
					<div class="flex gap-8 justify-between pt-4">
						<div>
							<h3 class="text-xl font-black -tracking-[0.02em]">Preline UI</h3>
							<div class="flex gap-1.5 pb-4">
								<p class="font-medium text-sm -tracking-[0.02em]">By Cruip in</p>
								<a href="/" class="underline font-medium text-sm -tracking-[0.02em] hover:text-brand-blue">UI Kits</a>
							</div>
						</div>
						<h2 class="text-2xl font-black">$10</h2>
					</div>
					<div class="flex gap-4 justify-between">
						<a href="/" class="border border-brand-secondary/30 hover:border-brand-primary hover:text-brand-primary rounded-md font-semibold text-sm text-brand-blue px-3 py-1 transition-colors duration-200 ease-linear">
							Live Preview
						</a>
						<a href="/" class="border border-brand-primary/30 hover:border-brand-blue hover:bg-brand-blue hover:text-white  rounded-md p-1.5 transition-colors duration-200 ease-linear">
							<svg class="h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
							</svg>
						</a>
					</div>
				</div>
				<div>
					<div class="relative shadow-[0px_4px_12px_rgba(0,53,81,0.12)] rounded-lg">
						<img src="/img/cover-image-02.png" class="rounded-lg" alt="">
						<img src="/img/badge-paid.png" class="absolute top-3 right-3 rounded-md h-5" alt="">
					</div>
					<div class="flex gap-8 justify-between pt-4">
						<div>
							<h3 class="text-xl font-black -tracking-[0.02em]">Preline UI</h3>
							<div class="flex gap-1.5 pb-4">
								<p class="font-medium text-sm -tracking-[0.02em]">By Cruip in</p>
								<a href="/" class="underline font-medium text-sm -tracking-[0.02em] hover:text-brand-blue">Components</a>
							</div>
						</div>
						<h2 class="text-2xl font-black">$89</h2>
					</div>
					<div class="flex gap-4 justify-between">
						<a href="/" class="border border-brand-secondary/30 hover:border-brand-primary hover:text-brand-primary rounded-md font-semibold text-sm text-brand-blue px-3 py-1 transition-colors duration-200 ease-linear">
							Live Preview
						</a>
						<a href="/" class="border border-brand-primary/30 hover:border-brand-blue hover:bg-brand-blue hover:text-white  rounded-md p-1.5 transition-colors duration-200 ease-linear">
							<svg class="h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-brand-primary px-5 sm:px-10 xl:px-12 py-10 sm:py-12 xl:py-16 rounded-2xl md:rounded-3xl">
		<div class="flex flex-col xl:flex-row justify-between gap-8 xl:gap-16 items-center">
			<div class="text-center xl:text-left">
				<h3 class="text-3xl sm:text-4xl font-black -tracking-[0.02em] text-white pb-1">Subscribe to our newsletter</h3>
				<p class="text-lg md:text-xl font-medium -tracking-[0.02em] text-white">Get notified when we add new templates, components, and more!</p>
			</div>
			<form class="relative w-full lg:w-4/5 xl:w-[45%]">
				<input type="email" placeholder="Email" class="shadow-[0px_4px_12px_rgba(0,53,81,0.12)] text-white bg-[#29556d] text-lg border-0 w-full rounded-xl pl-3 sm:pl-4 py-3 sm:py-4 pr-3 sm:pr-36 placeholder-white" >
				<button class=" mt-1 sm:mt-0 w-full sm:w-auto sm:absolute text-white font-bold -tracking-[0.02em] text-lg bg-brand-secondary py-2 px-5 rounded-lg sm:right-2 sm:top-1/2 sm:-translate-y-1/2 hover:text-brand-primary hover:bg-white transition-colors duration-300 ease-linear">Subscribe</button>
			</form>
		</div>
	</div>
</div>