---

---

<div class="container pt-28 sm:pt-32 lg:pt-36 xl:pt-40">
	<div class="flex gap-4 items-center">
		<a href="/">
			<svg class="text-[#B1BFC7] hover:text-brand-primary/70 h-5" viewBox="0 0 24 24" fill="currentColor"><path d="M19 21H5C4.44772 21 4 20.5523 4 20V11L1 11L11.3273 1.6115C11.7087 1.26475 12.2913 1.26475 12.6727 1.6115L23 11L20 11V20C20 20.5523 19.5523 21 19 21ZM13 19H18V9.15745L12 3.7029L6 9.15745V19H11V13H13V19Z"></path></svg>
		</a>
		<span class="text-[#B1BFC7] block">/</span>
		<a href="/" class="font-semibold text-sm text-[#B1BFC7] -tracking-[0.02em] hover:text-brand-primary/70">Templates</a>
		<span class="text-[#B1BFC7] block">/</span>
		<a href="/" class="-tracking-[0.02em] text-brand-primary text-sm font-semibold">Casper AI Landing Library</a>
	</div>
	<div class="pt-8 pb-20 lg:pb-28 flex flex-col xl:flex-row gap-8">
		<div class="xl:w-[65%]">
			<div class="flex flex-col sm:flex-row xl:hidden sm:gap-4 sm:justify-between sm:items-center pb-6 sm:pb-8">
				<h2 class="font-black text-[28px]/[32px] -tracking-[0.02em]">
					Casper AI Landing Library
				</h2>
				<div>
					<img src="/img/badge-paid.png" class="hidden sm:block rounded-md h-8" alt="">
				</div>
			</div>
			<div class="relative">
				<img src="/img/product-image.png" class="w-full rounded-2xl" alt="">
				<img src="/img/badge-paid.png" class="block m:hidden absolute top-3 right-3 rounded-md h-5" alt="">
			</div>
			<div class="pt-6 sm:pt-8 flex gap-4 sm:gap-6">
				<a href="/" class="w-full text-center border border-brand-secondary/30 hover:border-brand-primary hover:bg-brand-primary/70 bg-brand-primary text-white rounded-md font-bold text-sm lg:text-base px-3 py-2.5 transition-colors duration-200 ease-linear -tracking-[0.02em]">
					Buy now for $49
				</a>
				<a href="/" class="w-full text-center border border-brand-secondary/30 hover:border-brand-primary hover:text-brand-primary rounded-md font-bold text-sm lg:text-base text-brand-blue px-3 py-2.5 transition-colors duration-200 ease-linear -tracking-[0.02em]">
					Live Preview
				</a>
			</div>
			<a href="/" class="p-4 sm:p-6 bg-[#ebfaff] hover:bg-white mt-6 sm:mt-8 rounded-xl border border-[#c6f1ff] hover:border-brand-secondary flex gap-4">
				<svg class="text-brand-secondary h-5 mt-1" viewBox="0 0 24 24" fill="currentColor"><path d="M10.9042 2.10025L20.8037 3.51446L22.2179 13.414L13.0255 22.6063C12.635 22.9969 12.0019 22.9969 11.6113 22.6063L1.71184 12.7069C1.32131 12.3163 1.32131 11.6832 1.71184 11.2926L10.9042 2.10025ZM13.7327 10.5855C14.5137 11.3666 15.78 11.3666 16.5611 10.5855C17.3421 9.80448 17.3421 8.53815 16.5611 7.7571C15.78 6.97606 14.5137 6.97606 13.7327 7.7571C12.9516 8.53815 12.9516 9.80448 13.7327 10.5855Z"></path></svg>
				<div class="flex flex-1 justify-between items-center gap-4">
					<div>
						<span class="font-extrabold -tracking-[0.02em]">Bundle and save big!</span>
						<p class="font-medium text-sm -tracking-[0.02em]">Get this template and 9 others for just <span class="font-bold">$89</span>.</p>
					</div>
					<svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
					</svg>
				</div>
			</a>
			<div class="pt-8 prose max-w-full prose-p:font-medium md:prose-p:text-[17px] text-brand-primary -tracking-[0.02em] prose-h4:text-lg prose-h4:font-bold prose-h3:text-2xl prose-h3:font-bold prose-h2:text-3xl prose-h2:font-bold prose-li:text-brand-primary prose-li:font-medium md:prose-li:text-[17px] prose-li:!my-0 marker:text-brand-primary prose-a:no-underline hover:prose-a:underline prose-a:text-brand-blue prose-a:font-semibold">
				<h4 class="pb-6 border-b border-[#E5E7EB] mb-6">About the Casper AI Landing Library Tailwind CSS Template</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Save weeks of time and build your startup landing page in minutes with this beautifully designed collection of HTML, Next.js, Vue.js, and Tailwind CSS templates!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Save weeks of time and build your startup landing page in minutes with this beautifully designed collection of HTML, Next.js, Vue.js, and Tailwind CSS templates!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Save weeks of time and build your startup landing page in minutes with this beautifully designed collection of HTML, Next.js, Vue.js, and Tailwind CSS templates!</p>
			</div>
		</div>
		<div class="xl:w-[35%]">
			<div class="xl:border-l border-[#E5E7EB] xl:pl-8">
				<div class="hidden xl:flex gap-4 justify-between items-center">
					<h2 class="font-black text-[28px]/[32px] -tracking-[0.02em]">
						Casper AI Landing Library
					</h2>
					<img src="/img/badge-paid.png" class="rounded-md h-8" alt="">
				</div>
				<p class="hidden xl:block line-clamp-4 font-medium text-[17px] mt-4 -tracking-[0.02em]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<div class="pt-8 hidden xl:flex gap-6">
					<a href="/" class="w-full text-center border border-brand-secondary/30 hover:border-brand-primary hover:bg-brand-primary/70 bg-brand-primary text-white rounded-md font-bold text-sm lg:text-base px-3 py-2.5 transition-colors duration-200 ease-linear -tracking-[0.02em]">
						Buy now for $49
					</a>
					<a href="/" class="w-full text-center border border-brand-secondary/30 hover:border-brand-primary hover:text-brand-primary rounded-md font-bold text-sm lg:text-base text-brand-blue px-3 py-2.5 transition-colors duration-200 ease-linear -tracking-[0.02em]">
						Live Preview
					</a>
				</div>
				<div class="p-6 bg-[#ebfaff] hover:bg-white mt-8 mb-8 rounded-xl border border-[#c6f1ff] hover:border-brand-secondary hidden xl:flex gap-4">
					<svg class="text-brand-secondary h-5 mt-1" viewBox="0 0 24 24" fill="currentColor"><path d="M10.9042 2.10025L20.8037 3.51446L22.2179 13.414L13.0255 22.6063C12.635 22.9969 12.0019 22.9969 11.6113 22.6063L1.71184 12.7069C1.32131 12.3163 1.32131 11.6832 1.71184 11.2926L10.9042 2.10025ZM13.7327 10.5855C14.5137 11.3666 15.78 11.3666 16.5611 10.5855C17.3421 9.80448 17.3421 8.53815 16.5611 7.7571C15.78 6.97606 14.5137 6.97606 13.7327 7.7571C12.9516 8.53815 12.9516 9.80448 13.7327 10.5855Z"></path></svg>
					<div class="flex flex-1 justify-between items-center gap-4">
						<div>
							<span class="font-extrabold -tracking-[0.02em]">Bundle and save big!</span>
							<p class="font-medium text-sm -tracking-[0.02em]">Get this template and 9 others for just <span class="font-bold">$89</span>.</p>
						</div>
						<svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
						</svg>
					</div>
				</div>
				<div class="border-t border-[#E5E7EB]">
					<div class="pt-8">
						<span class="font-black text-lg -tracking-[0.02em]">Features</span>
						<div class="space-y-3.5 pt-5">
							<div class="flex items-center gap-3">
								<span class="p-1.5 rounded-lg border border-[#b3deff] bg-[#ebf6ff]">
									<svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-brand-blue">
										<path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
									</svg>
								</span>
								<p class="font-medium text-[15px] -tracking-[0.02em]">Responsive design</p>
							</div>
							<div class="flex items-center gap-3">
								<span class="p-1.5 rounded-lg border border-[#b3deff] bg-[#ebf6ff]">
									<svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-brand-blue">
										<path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
									</svg>
								</span>
								<p class="font-medium text-[15px] -tracking-[0.02em]">Fully documented</p>
							</div>
							<div class="flex items-center gap-3">
								<span class="p-1.5 rounded-lg border border-[#b3deff] bg-[#ebf6ff]">
									<svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-brand-blue">
										<path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
									</svg>
								</span>
								<p class="font-medium text-[15px] -tracking-[0.02em]">Responsive design</p>
							</div>
						</div>
					</div>
					<div class="pt-8">
						<span class="font-black text-lg -tracking-[0.02em]">Tech Stack</span>
						<div class="flex flex-wrap gap-4 pt-4">
							<div class="flex gap-1 items-center">
								<svg class="" width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.572 13.441c-.79-.713-1.021-2.21-.692-3.296.57.684 1.362.902 2.181 1.024 1.265.188 2.507.118 3.682-.452.134-.066.258-.153.405-.24.11.315.14.633.1.958-.093.79-.491 1.4-1.125 1.862-.253.185-.521.35-.783.525-.803.536-1.02 1.165-.719 2.08l.03.098a2.106 2.106 0 0 1-.938-.792 2.207 2.207 0 0 1-.363-1.21c-.003-.213-.003-.428-.032-.639-.07-.512-.315-.742-.774-.755-.471-.013-.845.274-.943.727-.008.035-.019.069-.03.11h.001Zm-3.974-2.963s2.16-1.05 4.327-1.05l1.634-5.043c.061-.244.24-.41.441-.41s.38.166.441.41l1.634 5.043c2.566 0 4.327 1.05 4.327 1.05L10.725.485C10.62.19 10.442 0 10.202 0H5.798c-.24 0-.41.19-.523.485l-3.677 9.993Z" fill="#000"/></svg>
								<span class="font-medium -tracking-[0.02em]">Astro</span>
							</div>
							<div class="flex gap-1 items-center">
								<svg class="" width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)"><path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0Zm.17 1.542c1.647.003 3.411 1.339 3.933 1.975l.162.2c1.094 1.329 2.38 2.893 2.38 4.644 0 2.479-1.987 3.872-4.106 5.005-.955.51-1.986 1.005-3.165 1.005-3.029 0-5.577-2.379-5.577-5.408 0-.47.113-.95.228-1.433a9.55 9.55 0 0 0 .204-1.033c.366-3.026 1.978-4.53 5.615-4.938.108-.012.218-.017.327-.017Z" fill="#000"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h16v16H0z"/></clipPath></defs></svg>
								<span class="font-medium -tracking-[0.02em]">Ghost</span>
							</div>
							<div class="flex gap-1 items-center">
								<svg class="" width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)"><path d="M12.443 14.652A7.96 7.96 0 0 1 8 16c-4.415 0-8-3.585-8-8s3.585-8 8-8 8 3.585 8 8a7.983 7.983 0 0 1-2.711 6L6.146 4.8H4.8v6.397h1.077v-5.03l6.566 8.485Zm-2.221-5.689 1.067 1.374V4.8h-1.067v4.163Z" fill="#000"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h16v16H0z"/></clipPath></defs></svg>
								<span class="font-medium -tracking-[0.02em]">Next</span>
							</div>
							<div class="flex gap-1 items-center">
								<svg class="" width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.976 13.22h5.948c.189 0 .375-.049.538-.14a1.06 1.06 0 0 0 .394-.382 1.02 1.02 0 0 0 0-1.044L11.86 4.943a1.06 1.06 0 0 0-.394-.382 1.102 1.102 0 0 0-1.076 0 1.06 1.06 0 0 0-.394.382L8.977 6.66 6.978 3.302a1.061 1.061 0 0 0-.394-.382 1.102 1.102 0 0 0-1.076 0 1.06 1.06 0 0 0-.394.382l-4.97 8.352a1.02 1.02 0 0 0-.001 1.044c.095.16.231.291.394.382.163.091.35.14.538.14H4.81c1.479 0 2.57-.63 3.32-1.86l1.823-3.062.976-1.638 2.93 4.921H9.953l-.977 1.639ZM4.75 11.58l-2.606-.001L6.05 5.018l1.949 3.28-1.305 2.193c-.499.798-1.065 1.089-1.944 1.089Z" fill="#000"/></svg>
								<span class="font-medium -tracking-[0.02em]">Nuxt</span>
							</div>
							<div class="flex gap-1 items-center">
								<svg class="" width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.494 12.91h5.573S5.002 8.05 8.53 6.081l.09-.044c.857-.424 3.271-1.62 7.134 1.236.127-.106.247-.19.247-.19S12.331 3.42 8.247 3.83c-2.053.183-4.578 2.052-6.06 4.522C.705 10.822.494 12.91.494 12.91Zm5.87-.522a7.12 7.12 0 0 1-.085-.889l.762.275c.042.332.106.642.169.917l-.847-.303Zm-5.2-2.878-.811-.297C.219 9.517.07 9.87 0 10.06l.811.296c.092-.24.24-.585.353-.846Zm5.22.197.572.452c.028-.276.077-.55.148-.826l-.508-.402c-.091.261-.155.522-.211.776Zm1.362-1.764-.339-.508c.128-.162.276-.324.438-.472l.317.48a3.973 3.973 0 0 0-.416.5ZM2.793 5.92l.502.437c-.17.177-.332.367-.48.557l-.544-.465c.163-.177.339-.353.522-.53Zm6.533.684-.162-.486c.177-.078.38-.156.62-.226l.156.465c-.21.067-.416.15-.614.247Zm2.081-.437.028-.445c.226.014.459.043.699.092l-.028.438a3.907 3.907 0 0 0-.699-.085ZM5.961 4.261l-.317-.487c-.177.092-.36.19-.55.303l.324.494a7.04 7.04 0 0 1 .543-.31Zm6.145-.035.028-.473c-.063-.035-.24-.12-.684-.247l-.029.466c.233.077.459.162.685.254Zm-3.28-.706h.07l-.141-.43c-.219 0-.444.014-.678.042l.134.417c.204-.02.41-.03.614-.029Z" fill="#000"/></svg>
								<span class="font-medium -tracking-[0.02em]">Rails</span>
							</div>
						</div>
					</div>
					<div class="pt-8">
						<span class="font-black text-lg -tracking-[0.02em]">Tags</span>
						<div class="pt-5 flex flex-wrap gap-2">
							<span class="font-medium text-brand-blue px-3 py-1 rounded-md border border-[#c2f0ff]">business</span>
							<span class="font-medium text-brand-blue px-3 py-1 rounded-md border border-[#c2f0ff]">marketing</span>
							<span class="font-medium text-brand-blue px-3 py-1 rounded-md border border-[#c2f0ff]">landing page</span>
							<span class="font-medium text-brand-blue px-3 py-1 rounded-md border border-[#c2f0ff]">startup</span>
							<span class="font-medium text-brand-blue px-3 py-1 rounded-md border border-[#c2f0ff]">saas</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="pb-16 md:pb-24">
		<div>
			<div class="flex flex-col sm:flex-row items-center gap-3 sm:gap-8 justify-between pb-8 lg:pb-10">
				<h4 class="text-2xl sm:text-3xl font-black -tracking-[0.02em]">Other templates you might like...</h4>
				<a href="/" class="transition-colors duration-200 ease-linear text-brand-blue hover:text-brand-primary font-bold sm:text-lg -tracking-[0.02em] flex gap-2 items-center">
					See more
					<svg class="h-7 sm:h-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
					</svg>
				</a>
			</div>
			<div class="grid sm:grid-cols-2 xl:grid-cols-4 gap-8">
				<div>
					<div class="relative shadow-[0px_4px_12px_rgba(0,53,81,0.12)] rounded-lg">
						<img src="/img/cover-image-01.png" class="rounded-lg" alt="">
						<img src="/img/badge-free.png" class="absolute top-3 right-3 rounded-md h-5" alt="">
					</div>
					<div class="flex gap-8 justify-between pt-4">
						<div>
							<h3 class="text-xl font-black -tracking-[0.02em]">Preline UI</h3>
							<div class="flex gap-1.5 pb-4">
								<p class="font-medium text-sm -tracking-[0.02em]">By Cruip in</p>
								<a href="/" class="underline font-medium text-sm -tracking-[0.02em] hover:text-brand-blue">UI Kits</a>
							</div>
						</div>
						<h2 class="text-2xl font-black">$10</h2>
					</div>
					<div class="flex gap-4 justify-between">
						<a href="/" class="border border-brand-secondary/30 hover:border-brand-primary hover:text-brand-primary rounded-md font-semibold text-sm text-brand-blue px-3 py-1 transition-colors duration-200 ease-linear">
							Live Preview
						</a>
						<a href="/" class="border border-brand-primary/30 hover:border-brand-blue hover:bg-brand-blue hover:text-white  rounded-md p-1.5 transition-colors duration-200 ease-linear">
							<svg class="h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
							</svg>
						</a>
					</div>
				</div>
				<div>
					<div class="relative shadow-[0px_4px_12px_rgba(0,53,81,0.12)] rounded-lg">
						<img src="/img/cover-image-02.png" class="rounded-lg" alt="">
						<img src="/img/badge-paid.png" class="absolute top-3 right-3 rounded-md h-5" alt="">
					</div>
					<div class="flex gap-8 justify-between pt-4">
						<div>
							<h3 class="text-xl font-black -tracking-[0.02em]">Preline UI</h3>
							<div class="flex gap-1.5 pb-4">
								<p class="font-medium text-sm -tracking-[0.02em]">By Cruip in</p>
								<a href="/" class="underline font-medium text-sm -tracking-[0.02em] hover:text-brand-blue">Components</a>
							</div>
						</div>
						<h2 class="text-2xl font-black">$89</h2>
					</div>
					<div class="flex gap-4 justify-between">
						<a href="/" class="border border-brand-secondary/30 hover:border-brand-primary hover:text-brand-primary rounded-md font-semibold text-sm text-brand-blue px-3 py-1 transition-colors duration-200 ease-linear">
							Live Preview
						</a>
						<a href="/" class="border border-brand-primary/30 hover:border-brand-blue hover:bg-brand-blue hover:text-white  rounded-md p-1.5 transition-colors duration-200 ease-linear">
							<svg class="h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
							</svg>
						</a>
					</div>
				</div>
				<div>
					<div class="relative shadow-[0px_4px_12px_rgba(0,53,81,0.12)] rounded-lg">
						<img src="/img/cover-image-01.png" class="rounded-lg" alt="">
						<img src="/img/badge-free.png" class="absolute top-3 right-3 rounded-md h-5" alt="">
					</div>
					<div class="flex gap-8 justify-between pt-4">
						<div>
							<h3 class="text-xl font-black -tracking-[0.02em]">Preline UI</h3>
							<div class="flex gap-1.5 pb-4">
								<p class="font-medium text-sm -tracking-[0.02em]">By Cruip in</p>
								<a href="/" class="underline font-medium text-sm -tracking-[0.02em] hover:text-brand-blue">UI Kits</a>
							</div>
						</div>
						<h2 class="text-2xl font-black">$10</h2>
					</div>
					<div class="flex gap-4 justify-between">
						<a href="/" class="border border-brand-secondary/30 hover:border-brand-primary hover:text-brand-primary rounded-md font-semibold text-sm text-brand-blue px-3 py-1 transition-colors duration-200 ease-linear">
							Live Preview
						</a>
						<a href="/" class="border border-brand-primary/30 hover:border-brand-blue hover:bg-brand-blue hover:text-white  rounded-md p-1.5 transition-colors duration-200 ease-linear">
							<svg class="h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
							</svg>
						</a>
					</div>
				</div>
				<div>
					<div class="relative shadow-[0px_4px_12px_rgba(0,53,81,0.12)] rounded-lg">
						<img src="/img/cover-image-02.png" class="rounded-lg" alt="">
						<img src="/img/badge-paid.png" class="absolute top-3 right-3 rounded-md h-5" alt="">
					</div>
					<div class="flex gap-8 justify-between pt-4">
						<div>
							<h3 class="text-xl font-black -tracking-[0.02em]">Preline UI</h3>
							<div class="flex gap-1.5 pb-4">
								<p class="font-medium text-sm -tracking-[0.02em]">By Cruip in</p>
								<a href="/" class="underline font-medium text-sm -tracking-[0.02em] hover:text-brand-blue">Components</a>
							</div>
						</div>
						<h2 class="text-2xl font-black">$89</h2>
					</div>
					<div class="flex gap-4 justify-between">
						<a href="/" class="border border-brand-secondary/30 hover:border-brand-primary hover:text-brand-primary rounded-md font-semibold text-sm text-brand-blue px-3 py-1 transition-colors duration-200 ease-linear">
							Live Preview
						</a>
						<a href="/" class="border border-brand-primary/30 hover:border-brand-blue hover:bg-brand-blue hover:text-white  rounded-md p-1.5 transition-colors duration-200 ease-linear">
							<svg class="h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-brand-primary px-5 sm:px-10 xl:px-12 py-10 sm:py-12 xl:py-16 rounded-2xl md:rounded-3xl">
		<div class="flex flex-col xl:flex-row justify-between gap-8 xl:gap-16 items-center">
			<div class="text-center xl:text-left">
				<h3 class="text-3xl sm:text-4xl font-black -tracking-[0.02em] text-white pb-1">Subscribe to our newsletter</h3>
				<p class="text-lg md:text-xl font-medium -tracking-[0.02em] text-white">Get notified when we add new templates, components, and more!</p>
			</div>
			<form class="relative w-full lg:w-4/5 xl:w-[45%]">
				<input type="email" placeholder="Email" class="shadow-[0px_4px_12px_rgba(0,53,81,0.12)] text-white bg-[#29556d] text-lg border-0 w-full rounded-xl pl-3 sm:pl-4 py-3 sm:py-4 pr-3 sm:pr-36 placeholder-white" >
				<button class=" mt-1 sm:mt-0 w-full sm:w-auto sm:absolute text-white font-bold -tracking-[0.02em] text-lg bg-brand-secondary py-2 px-5 rounded-lg sm:right-2 sm:top-1/2 sm:-translate-y-1/2">Subscribe</button>
			</form>
		</div>
	</div>
</div>