<div class="container py-16 md:py-24">
	<div class="flex lg:justify-between flex-wrap lg:flex-nowrap gap-10 md:gap-12 2xl:gap-16 pb-12 md:pb-20">
		<div class="lg:w-[45%] 2xl:w-2/5">
			<a href="/" class="pb-5 block">
				<img src="/img/icon-logo.svg" alt="">
			</a>
			<span class="text-xl font-black tracking-[0.02em] block pb-5">Make development a breeze</span>
			<p class="text-lg font-medium tracking-[0.02em] pb-5">WindyBase is a weekly curated Tailwind CSS template and tool directory built for the modern developer.</p>
			<span class="flex gap-1 items-center font-medium text-lg">
				Made with
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5" viewBox="0 0 24 24" width="24" height="24" fill="rgba(0,209,252,1)"><path d="M12.001 4.52853C14.35 2.42 17.98 2.49 20.2426 4.75736C22.5053 7.02472 22.583 10.637 20.4786 12.993L11.9999 21.485L3.52138 12.993C1.41705 10.637 1.49571 7.01901 3.75736 4.75736C6.02157 2.49315 9.64519 2.41687 12.001 4.52853Z"></path></svg>
				and
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5" viewBox="0 0 24 24" width="24" height="24" fill="rgba(0,156,254,1)"><path d="M12 23C7.85786 23 4.5 19.6421 4.5 15.5C4.5 13.3462 5.40786 11.4045 6.86179 10.0366C8.20403 8.77375 11.5 6.49951 11 1.5C17 5.5 20 9.5 14 15.5C15 15.5 16.5 15.5 19 13.0296C19.2697 13.8032 19.5 14.6345 19.5 15.5C19.5 19.6421 16.1421 23 12 23Z"></path></svg>
				by
				<a href="/">@vivgui</a>
			</span>
		</div>
		<div class="w-2/5 md:w-[28%] lg:w-[14%] 2xl:w-[12%]">
			<span class="block font-black text-lg pb-5 md:pb-8">Categories</span>
			<ul class="font-medium text-lg tracking-[0.02] flex flex-col gap-3">
				<li>Templates</li>
				<li>UI Kits</li>
				<li>Components</li>
				<li>Tools</li>
				<li>Resources</li>
				<li>Freebies</li>
			</ul>
		</div>
		<div class="w-2/5 md:w-[28%] lg:w-[14%] 2xl:w-[10%]">
			<span class="block font-black text-lg pb-5 md:pb-8">Legal</span>
			<ul class="font-medium text-lg tracking-[0.02] flex flex-col gap-3">
				<li>Privacy Policy</li>
				<li>Terms & Conditions</li>
				<li>Support</li>
				<li>Contact</li>
			</ul>
		</div>
		<div class="w-2/5 md:w-[28%] lg:w-[14%] 2xl:w-[10%]">
			<span class="block font-black text-lg pb-5 md:pb-8">Content</span>
			<ul class="font-medium text-lg tracking-[0.02] flex flex-col gap-3">
				<li>Submit Product</li>
				<li>Affiliate Program</li>
				<li>Advertise</li>
			</ul>
		</div>
	</div>
	<p class="text-lg tracking-[0.02em] font-medium">© 2024 WindyBase. All rights reserved.</p>
</div>
