<div class="bg-transparent">
	<div class="container py-6">
		<div class="flex justify-between gap-12 items-center">
			<a href="/">
				<img src="/img/logo.svg" class="h-8" alt="">
			</a>
			<div class="hidden lg:flex flex-1 items-center gap-10 justify-between">
				<ul class="font-medium -tracking-[0.02em] flex items-center gap-8">
					<li>Nav Link 1</li>
					<li>Nav Link 2</li>
					<li>Nav Link 3</li>
					<li>Nav Link 4</li>
				</ul>
				<a href="/" class="font-bold text-white py-3 px-7 rounded-lg bg-brand-secondary">Submit Resource</a>
			</div>
			<span class="block lg:hidden">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="#003551"><path d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"></path></svg>
			</span>
		</div>
	</div>
</div>

<div class="hidden absolute inset-0 bg-[#01BFFD] w-full min-h-screen">
	<div class="container py-5">
		<div class="flex justify-end">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(255,255,255,1)"><path d="M10.5859 12L2.79297 4.20706L4.20718 2.79285L12.0001 10.5857L19.793 2.79285L21.2072 4.20706L13.4143 12L21.2072 19.7928L19.793 21.2071L12.0001 13.4142L4.20718 21.2071L2.79297 19.7928L10.5859 12Z"></path></svg>
		</div>
		<ul class="pt-16 font-bold -tracking-[0.02em] flex flex-col items-center gap-5 text-white">
			<li>Nav Link 1</li>
			<li>Nav Link 2</li>
			<li>Nav Link 3</li>
			<li>Nav Link 4</li>
		</ul>
	</div>
</div>
