---
import '../styles/main.css';

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width,initial-scale=1.0'
		/>
		<title>{title}</title>
		<link
			rel='preconnect'
			href='https://fonts.googleapis.com'
		/>
		<link
			rel='preconnect'
			href='https://fonts.gstatic.com'
		/>
		<link
			rel='icon'
			type='image/png'
			sizes='32x32'
			href='/favicon-32x32.png'
		/>

		<script
			defer
			src='https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js'
		></script>
	</head>
	<body>
		<slot />
	</body>
</html>
